<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>

        {% for item in data_list: %}
           
            <div class="content">
                <div class="card">
                    <h1>{{ item.title }}</h1>
                    <h2>{{ item.subtitle }}</h2>

                    <a href="http://127.0.0.1:5000/post">Read</a>
                </div>

            </div>
        {% endfor %}
</div>
</body>
<footer>
    <p></p>
    <p>Made with ♥️ in BIDABAD :)) </p>
</footer>
</html>